# File di sistema macOS
.DS_Store
.AppleDouble
.LSOverride

# Escludere file temporanei di Google Drive
.Google\ Drive
*.tmp
*.tmp.drivedownload
*.gdoc
*.gsheet
*.gslides

# File di log
*.log

# File di cache
.cache
*.cache
*.tmp

# File di backup
*~
*.swp
*.swo
*.bak

# Emacs
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock

# File di build
/build/
*.o
*.out
*.exe
*.dll
*.so


.tmp.driveupload

.fake